@import "fonts.css";

* {
 margin: 0px;
 padding: 0px;
}

body {
  /* background: #ec008c; */
  background: white;
  color: #fff;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}

.navbar {
  position: relative;
  min-height: 72px;
  background: #ec008c;
}

.navbar-header {
  padding: 24px;
  float: left;
}

.navbar-logo {
  background: url('/images/HUGE.png') no-repeat scroll center -40px / 60px 60px transparent;
  width: 60px;
  height: 24px;
}

.navbar-collapse {
  margin-left: 132px;
}

.navbar > li {
  float: left;
}

.navlist {
  display: inline-block;
  padding-top:24px;
}

.navlist > li {
  display: inline-block;
  font: 3vmin/1 HUGEAvantGardeBold;
  text-align: center;
  letter-spacing: 0.05em;
}

.navlist > li a {
  color: white;
  text-decoration: none;
  padding: 24px;
}

.navlist > li a:hover {
  color: #ec008c;
  background: white;
}

header {
  background: url('/images/background-image.jpg') no-repeat 50% 50% / cover;
  height: 640px;
}

.text-header {
  font: 18vmin/1 HUGEAvantGardeBold;
  text-align: center;
  position:relative;
  height: 300px;
  width: 70%;
  padding-top:200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font: 3.5vmin/1 Galaxie;
  padding-top: 60px;
  text-align: center;
  color: #000000;
}
